<template>
  <q-page class="flex flex-center">
    <!-- ส่วนบน -->
    <div class="text-body1">
      <div class="q-px-md" style="width:323px">
        <span>อีเมลผู้ใช้งาน</span>
        <q-input outlined v-model="text" hint dense readonly />
        <!-- <q-input
          stack-label
          v-model="user.name"
          outlined
          dense
          ref="name"
          :rules="[ val => val && val.length > 0 || 'กรุณาใส่อีเมลผู้ใช้งาน']"
        />-->
      </div>
      <div class="q-px-md" style="width:323px">
        <span>รหัสผ่านปัจจุบัน</span>
        <q-input
          stack-label
          v-model="password.present"
          outlined
          dense
          ref="present"
          mask="##########"
          :rules="[ val => val && val.length > 0 || 'กรุณาใส่รหัสผ่านปัจจุบัน']"
          :type="isPwd1 ? 'password' : 'text'"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd1 ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd1 = !isPwd1"
            />
          </template>
        </q-input>
      </div>
      <div class="q-px-md" style="width:323px">
        <span>รหัสผ่านใหม่</span>
        <q-input
          stack-label
          v-model="password.new"
          outlined
          dense
          ref="new"
          mask="##########"
          :rules="[ val => val && val.length > 0 || 'กรุณาใส่รหัสผ่านใหม่']"
          :type="isPwd2 ? 'password' : 'text'"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd2 ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd2 = !isPwd2"
            />
          </template>
        </q-input>
      </div>
      <div class="q-px-md" style="width:323px">
        <span>ยืนยันรหัสผ่านใหม่</span>
        <q-input
          stack-label
          v-model="password.confirmNew"
          outlined
          dense
          ref="confirmNew"
          mask="##########"
          :rules="[ 
          val => val && val.length > 0 || 'กรุณาใส่ยืนยันรหัสผ่านใหม่',
          val => val && val == password.new || 'รหัสผ่านไม่ตรงกัน'
          ]"
          :type="isPwd3 ? 'password' : 'text'"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd3 ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd3 = !isPwd3"
            />
          </template>
        </q-input>
      </div>

      <div class="q-pa-md q-pl-xl text-center" style="width:300px">
        <q-btn @click="apply()" color="indigo-10" style="width:196px;" size="18px" label="บันทึก" />
      </div>
    </div>
    <!-- ********************************************************************************** -->

    <!-- บันทึกข้อมูลสำเร็จ -->
    <q-dialog v-model="complete" persistent>
      <q-card align="center" style="width:370px; border-radius: 15px;">
        <q-card-section>
          <q-icon class="q-my-lg" color="secondary" size="80px" name="far fa-check-circle " />
          <div class="text-h5">สำเร็จ!</div>
          <div class="q-py-sm text-body1">เปลี่ยนรหัสผ่านเรียบร้อย</div>

          <div class="q-py-md">
            <q-btn
              v-close-popup
              @click="complete = true"
              color="secondary"
              size="18px"
              style="width:124px"
              label="ปิด"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- uncomplete ไม่สำเร็จ! -->
    <q-dialog v-model="unComplete" persistent>
      <q-card align="center" style="width:370px; border-radius: 15px;">
        <q-card-section>
          <q-icon class="q-my-lg" color="red-4" size="80px" name="far fa-times-circle" />
          <div class="text-h5">รหัสปัจจุบันไม่ถูกต้อง</div>
          <div clas="q-py-sm  text-body1">กรุณากรอกใหม่อีกครั้ง</div>
          <div class="q-pt-lg q-pb-md">
            <q-btn v-close-popup color="red-4" size="18px" style="width:124px" label="ปิด" />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      isPwd1: true,
      isPwd2: true,
      isPwd3: true,
      title: "",
      text: "winner@gmail.com",
      password: { present: "1234", new: "", confirmNew: "" },
      exam: "exam1",
      text1: "ระดับชั้น",
      text2: "ระดับชั้น",
      text3: "ระดับชั้น",
      level: "ป.4",
      levelOptions: [],
      trial: "4",
      trialOptions: [],
      enroll: "4",
      enrollOptions: [],
      confirm: false,
      complete: false,
      unComplete: false
    };
  },
  methods: {
    apply() {
      this.$refs.present.validate();
      this.$refs.new.validate();
      this.$refs.confirmNew.validate();
      if (
        this.$refs.present.hasError ||
        this.$refs.new.hasError ||
        this.$refs.confirmNew.hasError
      ) {
        return;
      } else {
        if (this.password.present != "1234") {
          this.unComplete = true;
          return;
        } else if (this.password.new != this.password.confirmNew) {
          return;
        } else if (this.password.present == this.password.new) {
          this.unComplete = true;
          return;
        } else {
          this.complete = true;
        }
      }
    }
  }
};
</script>

<style  scoped>
</style>