<template>
  <q-page>
    <!-- ส่วนหัว -->
    <div class="bg-indigo-1 q-px-md q-pt-md">
      <div class="row justify-between">
        <div class="q-py-sm q-px-xs">
          <q-btn-group style="border-radius: 7px;">
            <q-btn
              size="14px"
              style="width:120px;height:38px"
              @click="menuBar (menuBtn = 'placement') "
              :class="{'bg-indigo-10':menuBtn == 'placement','bg-white':menuBtn != 'placement','text-white':menuBtn == 'placement',}"
              label="สอบวัดระดับ"
            />
            <!-- <q-separator vertical inset />
            <q-btn
              size="14px"
              style="width:120px;height:38px"
              @click="menuBar(menuBtn = 'two')"
              :class="{'bg-indigo-10':menuBtn == 'two','bg-white':menuBtn != 'two','text-white':menuBtn == 'two',}"
              label="ทดลองเรียน"
            />-->
            <q-separator vertical inset />
            <q-btn
              size="14px"
              style="width:120px;height:38px"
              @click="menuBar(menuBtn = 'enroll')"
              :class="{'bg-indigo-10':menuBtn == 'enroll','bg-white':menuBtn != 'enroll','text-white':menuBtn == 'enroll',}"
              label="สมัครเรียน"
            />
          </q-btn-group>
        </div>

        <div class="q-pt-sm">
          <q-input
            style="width:257px"
            class="q-px-sm"
            outlined
            placeholder="ค้นหาข้อมูล"
            bg-color="white"
            v-model="filter"
            dense
          >
            <template v-slot:append>
              <q-icon size="lg" name="search" />
            </template>
          </q-input>
        </div>
      </div>
      {{dateStart}}
      <div class="row justify-between">
        <div class="row q-py-md">
          <div class="q-px-xs">
            <span class="text-subtitle1">วันเริ่มต้น</span>
            <q-input
              readonly
              dense
              outlined
              bg-color="white"
              style="width:178px"
              v-model="dateStart"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy
                    @click="setDateStart()"
                    ref="qDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date mask="DD/MM/YYYY" v-model="dateStart" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="q-px-xs">
            <span class="text-subtitle1">วันสิ้นสุด</span>
            <q-input readonly dense outlined bg-color="white" style="width:178px" v-model="dateEnd">
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                    <q-date mask="DD/MM/YYYY" v-model="dateEnd" />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
        </div>
        <div class="text-body1 q-px-sm self-center">
          <span>
            สอบวัดระดับทั้งสิ้น
            <span class="text-h5">1</span>
            คน
          </span>
        </div>
      </div>
    </div>
    <!-- ********************************************************************************** -->
    <!-- showData สอบวัดระดับ  -->
    <div v-if="showData == 'placement'" class="q-pa-md">
      <q-table
        :data="dataPlacement"
        :columns="colPlacement"
        row-key="name"
        :filter="filter"
        :loading="loading"
        :pagination.sync="pagination"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="date" :props="props">{{ props.row.date }}</q-td>
            <q-td key="name" :props="props">{{ props.row.name }}</q-td>
            <q-td key="phone" :props="props">{{ props.row.phone }}</q-td>
            <q-td key="username " :props="props">{{ props.row.username }}</q-td>
            <q-td key="password" :props="props">{{ props.row.password }}</q-td>
            <q-td key="status" :props="props">{{ props.row.status }}</q-td>
            <q-td key="trial" :props="props">
              <div v-if="!props.row.trial ">
                <u @click="dialogTrial = true" class="cursor-pointer">ทดลองเรียน</u>
              </div>
              <div v-if="props.row.trial">
                <u class="cursor-pointer">สมัครแล้ว</u>
              </div>
            </q-td>
            <q-td key="enroll" :props="props">
              <div v-if="props.row.enroll">
                <u @click="dialogEnroll = true" class="cursor-pointer">สมัครเรียน</u>
              </div>
            </q-td>
            <q-td key="menu" :props="props">
              <q-btn class round flat size="sm" icon="fas fa-ellipsis-v">
                <q-menu>
                  <q-list style="min-width: 150px">
                    <q-item @click="editData()" clickable v-close-popup>
                      <q-item-section>แก้ไขข้อมูล</q-item-section>
                    </q-item>
                    <q-item @click="resetData()" clickable v-close-popup>
                      <q-item-section>รีเซ็ตสอบวัดระดับ</q-item-section>
                    </q-item>
                    <q-item @click="deleteData()" clickable v-close-popup>
                      <q-item-section>ลบ</q-item-section>
                    </q-item>
                  </q-list>
                </q-menu>
              </q-btn>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
    <!-- menu สอบวัดระดับ -->
    <!-- ทดลองเรียน -->
    <q-dialog v-model="dialogTrial" persistent>
      <q-card align="center" style="width:500px; border-radius: 15px;">
        <q-card-section style="height:60px" class="bg-grey-3">
          <div class="text-center text-h5">ทดลองเรียน</div>
        </q-card-section>
        <q-card-section>
          <div class="row text-left col-6">
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ชื่อผู้เรียน</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">สมชาย ใจดีมาก</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">เบอร์โทร</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">092-564-5555</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ระดับชั้น</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ป.4</span>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ผลสอบวัดระดับ</span>
                <span>:</span>
              </div>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ระดับความยาก 5</span>
            </div>
          </div>
          <div class="text-center q-py-md">
            <q-btn
              class="q-mx-sm"
              color="red-4"
              size="18px"
              style="width:124px"
              outline
              label="ยกเลิก"
              v-close-popup
            />
            <q-btn
              v-close-popup
              @click="completeTrial = true"
              color="indigo-10"
              class="q-mx-sm"
              size="18px"
              style="width:124px"
              label="สมัคร"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- สมัครเรียน -->
    <q-dialog v-model="dialogEnroll" persistent>
      <q-card align="center" style="width:500px; border-radius: 15px;">
        <q-card-section style="height:60px" class="bg-grey-3">
          <div class="text-center text-h5">สมัครเรียน</div>
        </q-card-section>
        <q-card-section>
          <div class="row text-left col-6">
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ชื่อผู้เรียน</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">สมชาย ใจดีมาก</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">เบอร์โทร</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">092-564-5555</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ระดับชั้น</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ป.4</span>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ผลสอบวัดระดับ</span>
                <span>:</span>
              </div>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ระดับความยาก 5</span>
            </div>

            <!-- <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ทดลองเรียน</span>
                <span>:</span>
              </div>
            </div>-->
            <!-- <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ระดับความยาก 5</span>
            </div>-->
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">สมัครเรียน</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span>
                <q-select class="q-px-md" outlined v-model="level" :options="levelOptions" dense />
              </span>
            </div>
          </div>
          <div class="text-center q-py-md">
            <q-btn
              class="q-mx-sm"
              color="red-4"
              size="18px"
              style="width:124px"
              outline
              label="ยกเลิก"
              v-close-popup
            />
            <q-btn
              v-close-popup
              @click="completeEnroll = true"
              class="q-mx-sm"
              color="indigo-10"
              size="18px"
              style="width:124px"
              label="สมัคร"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- บันทึกข้อมูล ทดลองเรียน -->
    <q-dialog v-model="completeTrial" persistent>
      <q-card align="center" style="width:500px; border-radius: 15px;">
        <q-card-section style="height:60px" class="bg-secondary">
          <div class="text-center text-h5 text-white">สมัครทดลองเรียน เรียบร้อยแล้ว</div>
        </q-card-section>
        <q-card-section>
          <div class="row text-left col-6">
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ชื่อ - นามสกุล</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">สมชาย ใจดีมาก</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">เบอร์โทร</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">092-564-5555</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ระดับชั้น</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ป.4</span>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ผลสอบวัดระดับ</span>
                <span>:</span>
              </div>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ระดับความยาก 5</span>
            </div>
            <div class="col-12">
              <hr />
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ผู้ใช้งาน</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">70545454954</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">รหัสผ่าน</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">555555</span>
            </div>
          </div>
          <div class="text-center q-py-md">
            <q-btn
              class="q-mx-sm"
              color="secondary"
              size="18px"
              style="width:124px"
              label="ตกลง"
              v-close-popup
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- บันทึกข้อมูล สมัครเรียน -->
    <q-dialog v-model="completeEnroll" persistent>
      <q-card align="center" style="width:500px; border-radius: 15px;">
        <q-card-section style="height:60px" class="bg-secondary">
          <div class="text-center text-h5 text-white">สมัครเรียน เรียบร้อยแล้ว</div>
        </q-card-section>
        <q-card-section>
          <div class="row text-left col-6">
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ชื่อผู้เรียน</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">สมชาย ใจดีมาก</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">เบอร์โทร</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">092-564-5555</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ระดับชั้น</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ป.4</span>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ผลสอบวัดระดับ</span>
                <span>:</span>
              </div>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ระดับความยาก 5</span>
            </div>

            <!-- <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ทดลองเรียน</span>
                <span>:</span>
              </div>
            </div>-->

            <!-- <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ระดับความยาก 5</span>
            </div>-->

            <div class="col-12">
              <hr />
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ผู้ใช้งาน</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">7054545495</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">รหัสผ่าน</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">5555</span>
            </div>
          </div>
          <div class="text-center q-py-md">
            <q-btn
              class="q-mx-sm"
              color="secondary"
              size="18px"
              style="width:124px"
              label="ตกลง"
              v-close-popup
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- แก้ไขข้อมูล -->
    <q-dialog v-model="editDataBtn" persistent>
      <q-card align="center" style="width:500px; border-radius: 15px;">
        <q-card-section style="height:60px" class="bg-grey-3">
          <div class="text-center text-h5">แก้ไขข้อมูล</div>
        </q-card-section>
        <q-card-section>
          <div class="text-body1">
            <div class="text-left q-px-md q-py-sm" style="width:300px">
              <span>ชื่อผู้เรียน</span>
              <q-input
                stack-label
                v-model="uesr.name"
                outlined
                placeholder="ตัวอย่าง : สมชาย"
                dense
              />
            </div>
            <div class="text-left q-px-md q-py-sm" style="width:300px">
              <span>นามสกุล</span>
              <q-input
                stack-label
                v-model="uesr.lastname"
                outlined
                placeholder="ตัวอย่าง : ใจดีมาก"
                dense
              />
            </div>
            <div class="text-left q-px-md q-py-sm" style="width:300px">
              <span>เบอร์โทร</span>
              <q-input
                stack-label
                v-model="uesr.phone"
                outlined
                placeholder="ตัวอย่าง : 091235555"
                dense
              />
            </div>
          </div>

          <div class="text-center q-py-md">
            <q-btn
              class="q-mx-sm"
              color="red-4"
              size="18px"
              style="width:124px"
              outline
              label="ยกเลิก"
              v-close-popup
            />
            <q-btn
              v-close-popup
              @click="saveComplete()"
              class="q-mx-sm"
              color="indigo-10"
              size="18px"
              style="width:124px"
              label="บันทึก"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- รีเซตสอบวัดระดับ -->
    <q-dialog v-model="resetDataBtn" persistent>
      <q-card align="center" style="width:500px; border-radius: 15px;">
        <q-card-section style="height:60px" class="bg-grey-3">
          <div class="text-center text-h5">รีเซตสอบวัดระดับ</div>
        </q-card-section>
        <q-card-section>
          <div class="q-py-md">
            <div class="text-body1">หากต้องการดำเนินการรีเซตพิมพ์ “ดำเนินการ”</div>
            <div class="text-body2">เมื่อทำการรีเซตการสอบวัดระดับ จะไม่สามารถกู้คะแนนเก่ากลับคืนได้</div>
          </div>

          <div style="width:360px">
            <q-input
              stack-label
              v-model="reset"
              outlined
              dense
              :rules="[ val => val && val.length > 0 || 'กรุณาพิมพ์ “ดำเนินการ”']"
            />
          </div>
          <div class="text-center q-py-md">
            <q-btn
              class="q-mx-sm"
              color="red-4"
              size="18px"
              style="width:124px"
              outline
              label="ยกเลิก"
              v-close-popup
            />
            <q-btn
              v-close-popup
              @click="saveComplete()"
              class="q-mx-sm"
              color="indigo-10"
              size="18px"
              style="width:124px"
              label="ตกลง"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- ลบข้อมูลผู้เรียน -->
    <q-dialog v-model="deleteDataBtn" persistent>
      <q-card align="center" style="width:500px; border-radius: 15px;">
        <q-card-section style="height:60px" class="bg-grey-3">
          <div class="text-center text-h5">ลบข้อมูลผู้เรียน</div>
        </q-card-section>
        <q-card-section>
          <div class="q-py-md">
            <div class="text-body1">ยืนยันการลบข้อมูลผู้เรียน</div>
          </div>
          <div class="text-center q-py-md">
            <q-btn
              class="q-mx-sm"
              color="red-4"
              size="18px"
              style="width:124px"
              outline
              label="ยกเลิก"
              v-close-popup
            />
            <q-btn
              v-close-popup
              @click="saveComplete()"
              class="q-mx-sm"
              color="indigo-10"
              size="18px"
              style="width:124px"
              label="ตกลง"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- ********************************************************************************** -->
    <!-- showData ทดลองเรียน  -->
    <div v-if="showData == 'two'" class="q-pa-md">
      <q-table
        :data="dataTrial"
        :columns="colTrial"
        row-key="name"
        :filter="filter"
        :loading="loading"
        :pagination.sync="pagination"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="date" :props="props">{{ props.row.date }}</q-td>
            <q-td key="name" :props="props">{{ props.row.name }}</q-td>
            <q-td key="phone" :props="props">{{ props.row.phone }}</q-td>
            <q-td key="username " :props="props">{{ props.row.username }}</q-td>
            <q-td key="password" :props="props">{{ props.row.password }}</q-td>
            <q-td key="level" :props="props">
              <div v-if="!props.row.trial ">
                <u @click="dialogLevel = true" class="cursor-pointer">ระดับ 5</u>
              </div>
              <div v-if="props.row.trial">
                <u class="cursor-pointer">สมัครแล้ว</u>
              </div>
            </q-td>
            <q-td key="enroll" :props="props">
              <div v-if="props.row.enroll">
                <u @click="dialogEnroll = true" class="cursor-pointer">สมัครเรียน</u>
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
    <!-- menu ทดลองเรียน -->
    <!-- ปรับเปลี่ยน ระดับความยาก -->
    <q-dialog v-model="dialogLevel" persistent>
      <q-card align="center" style="width:500px; border-radius: 15px;">
        <q-card-section style="height:60px" class="bg-grey-3">
          <div class="text-center text-h5">ปรับเปลี่ยน ระดับความยาก</div>
        </q-card-section>
        <q-card-section>
          <div class="row text-left col-6">
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ชื่อผู้เรียน</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">สมชาย ใจดีมาก</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">เบอร์โทร</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">092-564-5555</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ระดับชั้น</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ป.4</span>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ผลสอบวัดระดับ</span>
                <span>:</span>
              </div>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ระดับความยาก 5</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ทดลองเรียน</span>
                <span>:</span>
              </div>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <span>
                <q-select class="q-px-md" outlined v-model="level" :options="levelOptions" dense />
              </span>
            </div>
          </div>
          <div class="text-center q-py-md">
            <q-btn
              class="q-mx-sm"
              color="red-4"
              size="18px"
              style="width:124px"
              outline
              label="ยกเลิก"
              v-close-popup
            />
            <q-btn
              v-close-popup
              @click="completeLevel = true"
              class="q-mx-sm"
              color="indigo-10"
              size="18px"
              style="width:124px"
              label="ปรับเปลี่ยน"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- บันทึกข้อมูล ปรับเปลี่ยน ระดับความยาก -->
    <q-dialog v-model="completeLevel" persistent>
      <q-card align="center" style="width:500px; border-radius: 15px;">
        <q-card-section style="height:60px" class="bg-secondary">
          <div class="text-center text-h5 text-white">ปรับเปลี่ยน ระดับความยาก เรียบร้อย</div>
        </q-card-section>
        <q-card-section>
          <div class="row text-left col-6">
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ชื่อผู้เรียน</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">สมชาย ใจดีมาก</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">เบอร์โทร</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">092-564-5555</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ระดับชั้น</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ป.4</span>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ผลสอบวัดระดับ</span>
                <span>:</span>
              </div>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ระดับความยาก 5</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ทดลองเรียน</span>
                <span>:</span>
              </div>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ระดับความยาก 4</span>
            </div>
          </div>
          <div class="text-center q-py-md">
            <q-btn
              v-close-popup
              class="q-mx-sm"
              color="secondary"
              size="18px"
              style="width:124px"
              label="ตกลง"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- ********************************************************************************** -->
    <!-- showData สมัครเรียน  -->
    <div v-if="showData == 'enroll'" class="q-pa-md">
      <q-table
        :data="dataEnroll"
        :columns="colEnroll"
        row-key="name"
        :filter="filter"
        :loading="loading"
        :pagination.sync="pagination"
      >
        <template v-slot:body="props">
          <q-tr
            :class="{'bg-white':props.row.cancel == true,'bg-red-2':props.row.cancel != true,}"
            :props="props"
          >
            <q-td key="date" :props="props">{{ props.row.date }}</q-td>
            <q-td key="name" :props="props">{{ props.row.name }}</q-td>
            <q-td key="phone" :props="props">{{ props.row.phone }}</q-td>
            <q-td key="username " :props="props">{{ props.row.username }}</q-td>
            <q-td key="password" :props="props">{{ props.row.password }}</q-td>
            <q-td key="level" :props="props">
              <div>
                <span>
                  <u @click="degreeData()" class="cursor-pointer" v-if="props.row.cancel">ระดับ 5</u>
                  <div v-if="!props.row.cancel">ระดับ 5</div>
                </span>
              </div>
            </q-td>
            <q-td key="cancel" :props="props">
              <div v-if="props.row.cancel && props.row.status == 'ยังไม่ได้สอบ'">
                <u @click="cancelData()" class="cursor-pointer">ยกเลิก</u>
              </div>
              <div v-if="!props.row.cancel">
                <span>กรอกข้อมูลผิด</span>
              </div>
              <div v-if="!props.row.error && props.row.status == 'ไม่สามารถยกเลิกการสมัครได้'">
                <u @click="unComplete = true" class="cursor-pointer">ยกเลิก</u>
              </div>
              <div v-if="!props.row.error && props.row.status == 'เรียนมากกว่า3แบบฝึกหัด'">
                <u @click="unComplete2 = true" class="cursor-pointer">ยกเลิก</u>
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
    <!-- ปรับเปลี่ยน ระดับความยาก -->
    <q-dialog v-model="dialogCencel" persistent>
      <q-card align="center" style="width:500px; border-radius: 15px;">
        <q-card-section style="height:60px" class="bg-grey-3">
          <div class="text-center text-h5">ยกเลิก การสมัครเรียน</div>
        </q-card-section>
        <q-card-section>
          <div class="row text-left col-6">
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ชื่อผู้เรียน</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">สมชาย ใจดีมาก</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">เบอร์โทร</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">092-564-5555</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ระดับความยาก</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">ระดับ 5</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">เหตุผลยกเลิก</span>
                <span>:</span>
              </div>
            </div>

            <div class="text-body1 q-py-sm col-6">
              <span>
                <q-select class="q-px-md" outlined v-model="reason" :options="reasonOptions" dense />
              </span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">หมายเหตุ</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="q-px-md" style="max-width: 300px">
                <q-input v-model="note" outlined type="textarea" />
              </div>
            </div>
          </div>
          <div class="text-center q-py-md">
            <q-btn
              class="q-mx-sm"
              color="red-4"
              size="18px"
              style="width:124px"
              outline
              label="ยกเลิก"
              v-close-popup
            />
            <q-btn
              v-close-popup
              @click="saveComplete()"
              class="q-mx-sm"
              color="indigo-10"
              size="18px"
              style="width:124px"
              label="ยืนยัน"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> -->
    <q-dialog v-model="dialogDegree" persistent>
      <q-card align="center" style="width:500px; border-radius: 15px;">
        <q-card-section style="height:60px" class="bg-grey-3">
          <div class="text-center text-h5">เปลี่ยนระดับ การสมัครเรียน</div>
        </q-card-section>
        <q-card-section>
          <div class="row text-left col-6">
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ชื่อผู้เรียน</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">สมชาย ใจดีมาก</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">เบอร์โทร</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span class="q-px-md">092-564-5555</span>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ระดับ</span>
                <span>:</span>
              </div>
            </div>
            <div class="text-body1 q-py-sm col-6">
              <span>
                <q-select class="q-px-md" outlined v-model="level" :options="levelOptions" dense />
              </span>
            </div>
          </div>
          <div class="text-center q-py-md">
            <q-btn
              class="q-mx-sm"
              color="red-4"
              size="18px"
              style="width:124px"
              outline
              label="ยกเลิก"
              v-close-popup
            />
            <q-btn
              v-close-popup
              @click="saveComplete()"
              class="q-mx-sm"
              color="indigo-10"
              size="18px"
              style="width:124px"
              label="ยืนยัน"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- complete สำเร็จ! -->
    <q-dialog v-model="complete" persistent>
      <q-card align="center" style="width:370px;border-radius: 15px;">
        <q-card-section>
          <q-icon class="q-my-lg" color="secondary" size="80px" name="far fa-check-circle " />
          <div class="text-h5 q-pb-sm">สำเร็จ!</div>
          <div clas=" text-body1">{{message}}</div>
          <div class="q-py-md q-mt-md">
            <q-btn v-close-popup color="secondary" size="18px" style="width:124px" label="ปิด" />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- uncomplete ไม่สำเร็จ! -->
    <q-dialog v-model="unComplete" persistent>
      <q-card align="center" style="width:370px; border-radius: 15px;">
        <q-card-section>
          <q-icon class="q-my-lg" color="red-4" size="80px" name="far fa-times-circle" />
          <div class="text-h5">ไม่สามารถยกเลิกการสมัครได้!</div>
          <div clas="q-py-sm  text-body1">เนื่องจากเกินเวลายกเลิกภายใน 3 วัน</div>
          <div class="q-pt-lg q-pb-md">
            <q-btn v-close-popup color="red-4" size="18px" style="width:124px" label="ปิด" />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- uncomplete ไม่สำเร็จ! -->
    <q-dialog v-model="unComplete2" persistent>
      <q-card align="center" style="width:370px; border-radius: 15px;">
        <q-card-section>
          <q-icon class="q-my-lg" color="red-4" size="80px" name="far fa-times-circle" />
          <div class="text-h5">ไม่สามารถยกเลิกการสมัครได้!</div>
          <div clas="q-py-sm  text-body1">เนื่องจากผู้เรียนได้ทำการเรียนมากกว่า 3 แบบฝึกหัด</div>
          <div class="q-pt-lg q-pb-md">
            <q-btn v-close-popup color="red-4" size="18px" style="width:124px" label="ปิด" />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template> 

<script>
import { auth, db } from "../router/index";
export default {
  data() {
    return {
      filter: "",
      loading: false,
      title: "",
      message: "",
      note: "",
      showData: "placement",
      menuBtn: "placement",
      reset: "",
      search: "",
      dialogTrial: false,
      dialogEnroll: false,
      dialogLevel: false,
      dialogDegree: false,
      dialogCencel: false,
      complete: false,
      unComplete: false,
      unComplete2: false,
      completeTrial: false,
      completeEnroll: false,
      completeLevel: false,
      editDataBtn: false,
      resetDataBtn: false,
      deleteDataBtn: false,
      level: "ระดับความยาก 4",
      levelOptions: ["ระดับความยาก 4", "ระดับความยาก 5"],
      reason: "กรอกข้อมูลผิด",
      reasonOptions: [],
      uesr: { name: " ", lastname: " ", phone: " " },
      dateStart: "--/--/----",
      dateEnd: "--/--/----",
      pagination: {
        page: 1,
        rowsPerPage: 0
      },
      dataPlacement: [
        {
          date: "18/2/2020",
          name: "สตางค์ ใจมากมี",
          phone: "092-536-5555",
          username: "70015245",
          password: "6541",
          status: "ยังไม่ได้สอบ",
          trial: false,
          enroll: true
        },
        {
          date: "12/2/2021",
          name: "YYY  rerrre",
          phone: "092-536-5555",
          username: "70015245",
          password: "6541",
          status: "ยังไม่ได้สอบ",
          trial: false,
          enroll: true
        }
      ],
      dataTrial: [
        {
          date: "18/2/2020",
          name: "Test OPP",
          phone: "092-853-3587",
          username: "65965496896",
          password: "6541",
          status: "ยังไม่ได้สอบ",
          trial: false,
          enroll: true
        }
      ],
      dataEnroll: [
        {
          date: "18/2/2020",
          name: "Test OPP",
          phone: "092-853-3587",
          username: "65965496896",
          password: "6541",
          status: "ยังไม่ได้สอบ",
          level: true,
          cancel: true
        },
        {
          date: "18/2/2020",
          name: "winer winer",
          phone: "092-853-3587",
          username: "65965496896",
          password: "6541",
          status: "ไม่สามารถยกเลิกการสมัครได้",
          level: true,
          error: false,
          cancel: true
        },
        {
          date: "18/2/2020",
          name: "winer winer",
          phone: "092-853-3587",
          username: "65965496896",
          password: "6541",
          status: "เรียนมากกว่า3แบบฝึกหัด",
          level: true,
          error: false,
          cancel: true
        },
        {
          date: "18/2/2020",
          name: "Test OPP",
          phone: "092-853-3587",
          username: "65965496896",
          password: "xxxx",
          status: "ยังไม่ได้สอบ",
          level: true,
          cancel: false
        }
      ],
      colPlacement: [
        {
          name: "date",
          label: "วันลงทะเบียน",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "name",
          align: "center",
          label: "ชื่อ-นามสกุล",
          sortable: true
        },
        {
          name: "phone",
          align: "center",
          label: "เบอร์โทร",
          sortable: true
        },
        {
          name: "username ",
          align: "center",
          label: "รหัสผู้ใช้งาน",
          sortable: true
        },
        {
          name: "password",
          align: "center",
          label: "รหัสผ่าน",
          sortable: true
        },
        {
          name: "status",
          align: "center",
          label: "สถานะ",
          sortable: true
        },
        // {
        //   name: "trial",
        //   align: "center",
        //   label: "ทดลองเรียน",
        //   sortable: true
        // },
        {
          name: "enroll",
          align: "center",
          label: "สมัครเรียน",
          sortable: true
        },
        {
          name: "menu",
          align: "center",
          style: "width:50px"
        }
      ],
      colTrial: [
        {
          name: "date",
          label: "วันเริ่มทดลองเรียน",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "name",
          align: "center",
          label: "ชื่อ-นามสกุล",
          sortable: true
        },
        {
          name: "phone",
          align: "center",
          label: "เบอร์โทร",
          sortable: true
        },
        {
          name: "username ",
          align: "center",
          label: "รหัสผู้ใช้งาน",
          sortable: true
        },
        {
          name: "password",
          align: "center",
          label: "รหัสผ่าน",
          sortable: true
        },

        {
          name: "level",
          align: "center",
          label: "ระดับความยาก",
          sortable: true
        },

        {
          name: "enroll",
          align: "center",
          label: "สมัครเรียน",
          sortable: true
        }
      ],
      colEnroll: [
        {
          name: "date",
          label: "วันลงทะเบียน",
          align: "left",
          field: row => row.name,
          format: val => `${val}`,
          sortable: true
        },
        {
          name: "name",
          align: "center",
          label: "วันเริ่มทดลองเรียน",
          sortable: true
        },
        {
          name: "phone",
          align: "center",
          label: "เบอร์โทร",
          sortable: true
        },
        {
          name: "username ",
          align: "center",
          label: "รหัสผู้ใช้งาน",
          sortable: true
        },
        {
          name: "password",
          align: "center",
          label: "รหัสผ่าน",
          sortable: true
        },
        {
          name: "level",
          align: "center",
          label: "ระดับความยาก",
          sortable: true
        },
        {
          name: "cancel",
          align: "center",
          label: "ยกเลิก",
          sortable: true
        }
      ]
    };
  },
  methods: {
    setDateStart() {
      // db.collection("date")
      //   .doc("start")
      //   .add(this.dateStart);
      console.log("555");
    },
    menuBar(key) {
      this.showData = key;
      console.log(this.showData);
    },
    editData() {
      this.title = "แก้ไขข้อมูล";
      this.editDataBtn = true;
    },
    resetData() {
      this.title = "รีเซ็ตสอบวัดระดับ";
      this.resetDataBtn = true;
    },
    deleteData() {
      this.title = "ลบข้อมูลผู้เรียน";
      this.deleteDataBtn = true;
    },
    cancelData() {
      this.title = "ยกเลิก การสมัครเรียน";
      this.dialogCencel = true;
      // if(){}
    },
    degreeData() {
      this.title = "เปลี่ยนระดับ การสมัครเรียน";
      this.dialogDegree = true;
    },

    saveComplete() {
      if (this.title == "แก้ไขข้อมูล") {
        this.complete = true;
        this.text = "แก้ไขข้อมูลผู้เรียนเรียบร้อย";
      } else if (this.title == "รีเซ็ตสอบวัดระดับ") {
        this.complete = true;
        this.text = "รีเซ็ตสอบวัดระดับเรียนเรียบร้อย";
      } else if (this.title == "ลบข้อมูลผู้เรียน") {
        this.complete = true;
        this.text = "ลบข้อมูลผู้เรียนเรียบร้อย";
      } else if (this.title == "ยกเลิก การสมัครเรียน") {
        this.complete = true;
        this.text = "ยกเลิกการสมัครเรียนเรียบร้อย";
      } else if (this.title == "เปลี่ยนระดับ การสมัครเรียน") {
        this.complete = true;
        this.text = "เปลี่ยนระดับสมัครเรียนเรียบร้อย";
      }
    }
  }
};
</script>

<style scoped>
.my-custom-toggle {
  border: 1px solid #027be3;
}
</style>
