<template>
  <div>
    <div class="row" style="height:100vh">
      <div class="col-md-6">
        <q-img src="../statics/image/bg-login.png" style="height:100vh" />
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 bg-indigo-10 relative-position">
        <div class="absolute-center text-body1 text-white" align="center">
          <div>
            <q-img
              class="q-mx-xs q-my-xl"
              src="../statics/image/page-logo.png"
              style="width:110px"
            />
            <q-img class="q-mx-xs q-my-xl" src="../statics/image/Frame.png" style="width:100px" />
          </div>
          <div></div>
          <div class="q-pa-md text-left" style="width:400px">
            <span class>อีเมลผู้ใช้งาน</span>
            <q-input ref="user" stack-label v-model="user" outlined bg-color="white" dense />
          </div>
          <div class="q-pa-md text-left" style="width:400px">
            <span>รหัสผ่าน</span>
            <q-input
              type="password"
              stack-label
              v-model="password"
              outlined
              bg-color="white"
              dense
              @keyup.enter="loginBtn()"
            />
          </div>
          <div class="q-pa-md text-center" style="width:300px">
            <q-btn
              @click="loginBtn()"
              size="18px"
              color="red-4"
              style="width:196px;"
              label="เข้าสู่ระบบ"
            />
            <div class="q-pt-xl text-body2">
              <u @click="forgot = true" class="cursor-pointer">ลืมรหัสผ่าน?</u>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ข้อมูลผิด -->
    <q-dialog v-model="improper" persistent>
      <q-card align="center" style="width:370px;border-radius: 15px;">
        <q-card-section>
          <q-icon class="q-my-lg" color="red-4" size="80px" name="far fa-times-circle" />
          <div class="q-pb-lg">{{title}}</div>
          <div class="text-center q-py-md">
            <q-btn
              size="18px"
              class="q-mx-sm"
              color="red-4"
              style="width:124px;"
              label="ปิด"
              v-close-popup
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- ลืมรหัสผ่าน -->
    <q-dialog v-model="forgot" persistent>
      <q-card class align="center" style="width:370px;border-radius: 15px;">
        <q-card-section>
          <div class="text-right">
            <q-icon
              v-close-popup
              class="cursor-pointer"
              color="grey"
              size="30px"
              name="fas fa-times"
            />
          </div>
          <q-icon class="q-my-md" color="red-4" size="80px" name="far fa-envelope" />
          <div class="text-h5">ลืมรหัสผ่าน</div>
          <div class="q-py-md text-body1">
            <div class="text-left" style="width:320px">
              <span>กรุณาใส่อีเมล</span>
              <q-input
                stack-label
                v-model="resetEmail"
                outlined
                dense
                ref="name"
                placeholder="ตัวอย่าง : winner@gmail.com"
                :rules="[ val => val && val.length > 0 || 'กรุณาใส่อีเมล']"
              />
            </div>
          </div>

          <div class="q-pb-md">
            <q-btn
              size="18px"
              @click="resetPassword()"
              color="red-4"
              style="width:124px;"
              label="ส่ง"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!--  สำเร็จ! -->
    <q-dialog v-model="complete" persistent>
      <q-card align="center" style="width:370px;border-radius: 15px;">
        <q-card-section>
          <q-icon class="q-my-lg" color="secondary" size="80px" name="far fa-check-circle " />
          <div class="text-h5">สำเร็จ!</div>
          <div class="q-py-sm text-body1">
            ระบบได้ส่งลิ้งค์แก้ไขรหัสผ่าน
            <br />กรุณาตรวจสอบอีเมลของท่าน
          </div>

          <div class="q-py-md">
            <q-btn
              size="18px"
              v-close-popup
              @click="complete = true"
              color="secondary"
              style="width:124px;"
              label="ปิด"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { auth, db } from "../router";
export default {
  data() {
    return {
      user: "",
      password: "",
      resetEmail: "",
      title: "",
      improper: false,
      forgot: false,
      complete: false
    };
  },
  methods: {
    resetPassword() {
      auth
        .sendPasswordResetEmail(this.resetEmail)
        .then(() => {
          this.resetEmail = "";
          this.forgot = false;
          this.complete = true;
        })
        .catch(error => {
          this.improper = true;
          this.title = "ไม่พบอีเมลผู้ใช้งานนี้";
        });
    },
    loginBtn() {
      let _this = this;
      auth
        .signInWithEmailAndPassword(this.user, this.password)
        .then(user => {
          console.log("LOGIN SUCCESS");
          _this.$router.push("/register");
        })
        .catch(error => {
          console.log(error);
          _this.improper = true;
          _this.title = "อีเมลผู้ใช้งาน / รหัสผ่านไม่ถูกต้อง";
        });
    }
  },
  mounted() {
    this.$refs.user.focus();
  }
};
</script>

<style  scoped>
</style>