<template>
  <q-page class="flex flex-center">
    <!-- ส่วนบน -->
    <div class="text-body1">
      <div class="q-px-md" style="width:323px">
        <span>ชื่อผู้เรียน</span>
        <q-input
          stack-label
          v-model="student.name"
          outlined
          placeholder="ตัวอย่าง : สมชาย"
          dense
          ref="name"
          :rules="[ val => val && val.length > 0 || 'กรุณาใส่ชื่อผู้เรียน']"
        />
      </div>
      <div class="q-px-md" style="width:323px">
        <span>นามสกุล</span>
        <q-input
          stack-label
          v-model="student.surname"
          outlined
          placeholder="ตัวอย่าง : ใจดีมาก"
          dense
          ref="surname"
          :rules="[ val => val && val.length > 0 || 'กรุณาใส่นามสกุล']"
        />
      </div>

      <div class="q-px-md" style="width:323px">
        <span>เบอร์โทร</span>
        <q-input
          stack-label
          v-model="student.phone"
          outlined
          placeholder="ตัวอย่าง : 091235555"
          dense
          ref="phone"
          mask="###-###-####"
          :rules="[ val => val && val.length > 0 || 'กรุณาใส่เบอร์โทร']"
        />
      </div>
      <div class="q-px-md" style="width:323px">
        <span>อีเมล</span>
        <q-input
          stack-label
          v-model="student.email"
          outlined
          placeholder="ตัวอย่าง : winner@gmail.com"
          dense
          ref="email"
          :rules="[ val => val && val.length > 0 || 'กรุณาใส่อีเมล']"
        />
      </div>
      <div>
        <q-radio
          class="q-px-sm"
          color="indigo-10"
          v-model="examType"
          val="placement"
          label="สอบวัดระดับ"
        />
        <q-radio
          class="q-px-sm"
          color="indigo-10"
          v-model="examType"
          val="study"
          label="สมัครเรียน"
        />
      </div>
      <div style="width:323px" v-show="examType =='สอบวัดระดับ'" class="q-pa-md">
        <span>ระดับชั้น</span>
        <q-select outlined v-model="level" :options="levelOptions" dense />
      </div>
      <div style="width:323px" v-show="examType =='สมัครเรียน'" class="q-pa-md">
        <span>ระดับความยาก</span>
        <q-select outlined v-model="trial" :options="trialOptions" dense />
      </div>
      <div class="q-pa-md q-pl-xl text-center" style="width:300px">
        <q-btn @click="register()" color="indigo-10" style="width:196px;" label="สมัคร" />
      </div>
    </div>
    <!-- ********************************************************************************** -->
    <!-- บันทึกข้อมูล -->
    <q-dialog v-model="confirm" persistent>
      <q-card align="center" style="width:500px; border-radius: 15px;">
        <q-card-section style="height:60px" class="bg-grey-3">
          <div class="text-center text-h5">{{title}}</div>
        </q-card-section>
        <q-card-section>
          <div class="row text-body1 text-left col-6">
            <div class="q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">ชื่อ - นามสกุล</span>
                <span>:</span>
              </div>
            </div>
            <div class="q-py-sm col-6">
              <span class="q-px-md">{{student.name}} {{student.surname}}</span>
            </div>
            <div class="q-py-sm col-6">
              <div class="row justify-between">
                <span class="q-pl-xl">เบอร์โทร</span>
                <span>:</span>
              </div>
            </div>
            <div class="q-py-sm col-6">
              <span class="q-px-md">{{student.phone}}</span>
            </div>
            <div class="q-py-sm col-6">
              <div class="row justify-between">
                <span v-if="examType == 'exam1'" class="q-pl-xl">ระดับชั้น</span>
                <span v-if="examType == 'exam2'|| examType == 'exam3'" class="q-pl-xl">ระดับความยาก</span>
                <span>:</span>
              </div>
            </div>
            <div class="q-py-sm col-6">
              <span v-if="examType == 'exam1'" class="q-px-md">{{level}}</span>
              <span v-if="examType == 'exam2'" class="q-px-md">{{trial}}</span>
            </div>
          </div>
          <div class="text-center q-py-md">
            <q-btn
              class="q-mx-sm"
              color="red-4"
              size="18px"
              style="width:124px"
              outline
              label="ยกเลิก"
              v-close-popup
            />
            <q-btn
              v-close-popup
              @click="complete = true"
              class="q-mx-sm"
              color="indigo-10"
              size="18px"
              style="width:124px"
              label="สมัคร"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <!-- บันทึกข้อมูลสำเร็จ -->
    <q-dialog v-model="complete" persistent>
      <q-card align="center" style="width:370px; border-radius: 15px;">
        <q-card-section>
          <q-icon class="q-my-lg" color="secondary" size="80px" name="far fa-check-circle " />
          <div class="text-h5">สำเร็จ!</div>
          <div class="q-py-sm text-body1">
            ลงทะเบียน{{this.text}}
            <br />เสร็จเรียบร้อย
          </div>

          <div class="q-py-md">
            <q-btn
              v-close-popup
              @click="complete = true"
              color="secondary"
              size="18px"
              style="width:124px"
              label="ปิด"
            />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import { auth, db } from "../router/index";
export default {
  data() {
    return {
      title: "",
      text: "",
      // -----------data----------,
      student: {
        name: "kong",
        username: "",
        surname: "kong",
        studentid: "",
        phone: "0628439054",
        email: "kong@gmail.com",
        timeStamp: "",
        password: ""
      },

      schoolNumber: "600", // ระหัสสอบวัดระดับ ,
      examType: "placement",

      //------------------------- ,
      text1: "ระดับชั้น",
      text2: "ระดับชั้น",
      text3: "ระดับชั้น",
      level: "ป.4",
      levelOptions: [],
      trial: "4",
      trialOptions: [],
      enroll: "4",
      enrollOptions: [],
      confirm: false,
      complete: false
    };
  },
  methods: {
    register() {
      if (!this.checkInput()) {
        return;
      }
      if (this.examType == "placement") {
        this.schoolNumber = "600";
      } else {
        this.schoolNumber = "602";
      }
      this.student.username =
        this.schoolNumber + Math.ceil(Math.random() * 99999.99);
      let d = new Date();
      let n = d.getTime();
      this.student.timeStamp = n;
      let password = Math.ceil(Math.random() * 9999.99);
      if (password <= 10) {
        password = "000" + password;
      } else if (password <= 100) {
        password = "00" + password;
      } else if (password <= 1000) {
        password = "0" + password;
      } else {
        password = password.toString();
      }
      this.student.password = password;
      let _this = this;
      auth.onAuthStateChanged(function(startId) {
        db.collection("engNowUser")
          .where("email", "==", startId.email)
          .get()
          .then(doc => {
            doc.forEach(element => {
              _this.student.studentid = element.data().startId.toString();
            });
          });
      });
      console.log(this.student);
      this.setSchoolData();
    },
    setSchoolData() {
      // if (this.exam == "exam1") {
      //   this.confirm = true;
      //   this.title = "ยืนยัน สอบวัดระดับ";
      //   this.text = "สอบวัดระดับ";
      //   this.uesr;
      //   this.level;
      // } else if (this.exam == "exam2") {
      //   this.confirm = true;
      //   this.title = "ยืนยัน ทดลองเรียน";
      //   this.text = "ทดลองเรียน";
      //   this.uesr;
      //   this.trial;
      // } else if (this.exam == "exam3") {
      //   this.confirm = true;
      //   this.title = "ยืนยัน สมัครเรียน";
      //   this.text = "สมัครเรียน";
      //   this.uesr;
      //   this.enroll;
      // }
    },
    addStudent(type, studentData) {
      if (type) {
        // db.collection("school").doc("600").collection("student").add(student)
      } else {
        // db.collection("school").doc("620").collection("student").add(student)
      }
    },

    checkInput() {
      this.$refs.name.validate();
      this.$refs.surname.validate();
      this.$refs.phone.validate();
      this.$refs.email.validate();
      if (
        this.$refs.name.hasError ||
        this.$refs.surname.hasError ||
        this.$refs.phone.hasError ||
        this.$refs.email.hasError
      ) {
        return false;
        console.log("0000");
      }
      return true;
      console.log("5555");
    }
  },
  mounted() {
    this.register();

    // let _this = this;
    // auth.onAuthStateChanged(function(student) {
    //   if (student) {
    //     console.log(student.email);
    //   } else {
    //     console.log("logout");
    //   }
    // });
  }
};
</script>

<style  scoped>
</style>