<template>
  <q-layout view="lHh Lpr lFf">
    <!-- <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>Quasar App</q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>-->
    <q-drawer
      v-model="drawer"
      content-class="bg-grey-3"
      show-if-above
      :width="120"
      :breakpoint="550"
    >
      <q-scroll-area class="fit">
        <q-list class="menu-list" padding>
          <q-item clickable v-ripple to="/register" @click="leftDrawerOpen = false">
            <div style="width:100%" class="text-center">
              <q-icon color="indigo-10" size="md" name="fas fa-edit" />
              <div class="q-py-sm text-indigo-10">ลงทะเบียน</div>
            </div>
            <div
              v-if="this.$route.name =='register'"
              class="bg-indigo-10 absolute-right"
              style="width:5px"
            />
          </q-item>

          <q-item clickable v-ripple to="/list" @click="leftDrawerOpen = false">
            <div style="width:100%" class="text-center">
              <q-icon color="indigo-10" size="md" name="inbox" />
              <div class="q-py-sm text-indigo-10">รายชื่อลูกค้า</div>
            </div>
            <div
              v-if="this.$route.name =='list'"
              class="bg-indigo-10 absolute-right"
              style="width:5px"
            />
          </q-item>
          <q-item clickable v-ripple to="/admin" @click="leftDrawerOpen = false">
            <div style="width:100%" class="text-center">
              <q-icon color="indigo-10" size="md" name="fas fa-user" />
              <div class="q-py-sm text-indigo-10">ผู้ใช้</div>
            </div>
            <div
              v-if="this.$route.name =='admin'"
              class="bg-indigo-10 absolute-right"
              style="width:5px"
            />
          </q-item>
        </q-list>
        <q-item @click="signOutBtn()" class="flex fixed-bottom" clickable v-ripple>
          <div style="width:100%" class="text-center">
            <q-icon color="indigo-10" size="md" name="fas fa-sign-out-alt" />
            <div class="q-py-sm text-indigo-10">ออกจากระบบ</div>
          </div>
        </q-item>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { auth, db } from "../router";
export default {
  data() {
    return {
      leftDrawerOpen: true,
      drawer: false
    };
  },
  methods: {
    signOutBtn() {
      let _this = this;
      // console.log(this);
      auth
        .signOut()
        .then(function() {
          _this.$router.push("/");
          // // Sign-out successful.
        })
        .catch(function(error) {
          // An error happened.
        });
    },
    logoutPage() {
      this.$router.push("/");
    }
  },
  mounted() {
    auth.onAuthStateChanged(function(user) {
      if (!user) {
        console.log("hi");
        this.logoutPage();
      }
    });
  }
};
</script>
